/* Réinitialisation des styles par défaut */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;    
}

/* Variables globales */
:root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #860111FF;
    --sec-color: #4070F4;
    --big-font: 7rem;
    --p-font: 1.1rem;
}

/* Styles du corps de la page */
body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;    
}

/* Styles de l'en-tête */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s ;
}

/* Styles du logo */
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}
.logo  span{
    color: var(--main-color);
}
.home-img img{
    animation: imgg 2s  ease-in-out infinite;
    animation-delay: 2s;
}
.navbar{
    display: flex;
    
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50S;    
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.menu-btn{
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}
.projets h1{
    text-align: center;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    font-size: 3rem;
    color: var(--title-color);
    margin: 100px auto 0;
}
.projets h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--text-color);
    gap:  10px;
    margin-bottom: 50px;
    text-align: center;
}
h1{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h2{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
p{
    display: flex;
    font-size: 1.5rem;
    text-align: center
   
}


/* Styles de la section des projets */
.grid-container {
    display: flex; 
    gap: 25px 25px;
    justify-content: center;
    overflow: hidden; /* Pour cacher les éléments qui dépassent */
    scroll-behavior: smooth; /* Pour que le scrolling soit doux */
}
.card {
    position: relative;
    width: 350px;
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card img {
    width: 100%;
    height: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card__image {
    width: 100%;
    height: 100%;
}
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
  
.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card:hover .card__content {
    transform: rotateX(0deg);
}
  
.card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}
  
.card:hover svg {
    scale: 0;
}
  
.card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
}
  
.card__button {
    padding: 15px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
}
  
.secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
}
  

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: var(--sec-color);
   color: white;
}
/*Section Veille technologique */
#veille_techno{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    max-width: 95%;
    text-align: center;
    position: relative;
    gap:  50%;
    z-index: 1;
}

/*Bouton télécharger la veille*/
.btn{
    background-color: var(--main-color);
    border: none;
    border-radius: 150px;
    color: white;
    font-size: 20px;    
}
/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(21, 201, 147);
}


/*thème 2 de la veille technologique sur l'internet quantique*/
.article-list {
   color: var(--text-color);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: calc(100vh - 80px); /* Subtract header height */
}
.intro {
    background-color: var(--bg-color);
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.text-center {
    font-size: 1.2em;
    text-align: center;
}
.container{
   max-width: 1500px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 50px 0;
}
 
.articles-veille {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background: #2d2d2D;
    border-radius: 10px;
    padding: 0 20px;
}
.articles {
   width: 100%;
   border-radius: 10px 10px 0 0; 
}
.articles a {
    color: white;
    font-weight: bold;
    transition: all .3s ease;
}
.img-veille {
   width: 400px;
   height: 267px;
   object-fit: cover;
   gap:30px;
   border-radius: 10px 10px 0 0/  10px 10px 0 0;
}
.name {
    font-size: 1em;
    color: #fff;
    letter-spacing: .05em;
    gap: 10px;
    text-transform:capitalize;
}

.date-veille {
    text-align: left;
    font-style: italic;
    opacity: .8;
    gap: 20px;
}
.description {
   max-width: 500px;
   display: flex;
   flex-direction: column;
   padding: 20px 30px;
   color: #7e7e7e;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;    
}
.action:hover {
    cursor: pointer;    
}
    
.fa {
    font-size: 20px !important;
    line-height: 28px;
}
.fa-arrow-circle-right {
    font-size: 30px;
    margin: 10px;
    color: #4070F4;
}


/*---------------------FOOTER SECTION ----------------------*/
/* Styles pour la section du pied de page */
.footer-child {
    background-color: var(--bg-color);
    width: 1440px;
    height: 201px;
}

.logo-icon {
    position: absolute;
    top: 27px;
    left: 107px;
    border-radius: 50%;
    width: 147px;
    height: 147px;
    object-fit: cover;
}

.copyrights {
    position: relative;
    bottom: -20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: #fff;
}

.text-footer {
    position: absolute;
    top: 80px;
    left: 421px;
    width: 598px;
    height: 42px;
}

.footer {
    position: relative;
    width: 100%;
    height: 201px;
    text-align: center;
    font-size: 23px;
    color: #fff;
    font-family: Inter;
    margin-top: 50%; /* Adjust the margin-top as needed */
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.socials i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.socials i:hover {
    transform: translateY(-10px);
}

@media (max-width: 1850px) {
    header, section {
        padding: 15px 8%;
        transition: .2s;
    }
    .share {
        left: 8%;
        transition: .2s;
    }
}

@media (max-width: 1370px) {
    header, section {
        padding: 15px 4%;
        transition: .2s;
    }
    .share {
        left: 4%;
        transition: .2s;
    }
    :root {
        --big-font: 5rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .home-img {
        display: none;
    }
    .home-text {
        max-width: 100%;
        margin: auto;
    }
}

@media (max-width: 1020px) {
    .navbar a {
        margin: 0 15px;
    }
    :root {
        --big-font: 5rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 950px) {
    .share {
        display: none;
    }
    section {
        padding: 50px ;
    }
    header {
        padding: 11px 4%;
        background: #2d2d2D;
    }
    .home {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text {
        order: 2;
    }
    .home-img {
        margin: auto;
        max-width: 100%;
    }
    .home-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 850px) {
    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2D;
        transition: all 0.4s ease-in-out;
    }
    .navbar a {
        display: block;
        color: #c3c3c3;
        padding: 0;
        margin: 0 0 40px 0;
        font-size: 2rem;
        font-weight: 400;
    }
    .navbar .open {
        left: 0;
    }
}

@media (max-width: 500px) {
    :root {
        --big-font: 4rem;
        --p-font: 15px;
        transition: .2s;
    }
    .btn {
        padding: 9px 28px;
    }
}

@keyframes imgg {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-22px);
    }
    100% {
        transform: translateY(0);
    }
}
