*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;    
}
:root{
  --bg-color: #1f1f21;
  --text-color: #fff;
  --main-color: #860111FF;
  --second-color: #fb8500;

  --big-font: 7rem;
  --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;    
}
header {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 15%;
        background: transparent;
        transition:all ease .45s ;
}
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}
.logo  span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50S;    
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.menu-btn{
    background: linear-gradient(130. 08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}
h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  color: var(--main-color);
}
a{
  position: webkit-sticky;
  top: 50%;
  transform: translateY(-50%);
}
.cards-list a{
    width: calc((100% / 3) - 10px);
    height: 300px;

}
.cards-list a:link{
    color: var(--main-color);
}
.cards-list a:hover{
    color: var(--second-color);
}


.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
 
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

/*---------- FOOTER SECTION -----------------*/
/* Styles pour la section du pied de page */
.footer-child {
    background-color: var(--bg-color);
    width: 1440px;
    height: 201px;
}

.logo-icon {
    position: absolute;
    top: 27px;
    left: 107px;
    border-radius: 50%;
    width: 147px;
    height: 147px;
    object-fit: cover;
}

.copyrights {
    position: relative;
    bottom: -20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: #fff;
}

.text-footer {
    position: absolute;
    top: 80px;
    left: 421px;
    width: 598px;
    height: 42px;
}

.footer {
    position: relative;
    width: 100%;
    height: 201px;
    text-align: center;
    font-size: 23px;
    color: #fff;
    font-family: Inter;
    margin-top: 300px; /* Adjust the margin-top as needed */
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.socials i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.socials i:hover {
    transform: translateY(-10px);
}

@media (max-width: 1850px) {
    header, section {
        padding: 15px 8%;
        transition: .2s;
    }
    .share {
        left: 8%;
        transition: .2s;
    }
}

@media (max-width: 1370px) {
    header, section {
        padding: 15px 4%;
        transition: .2s;
    }
    .share {
        left: 4%;
        transition: .2s;
    }
    :root {
        --big-font: 5rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .home-img {
        display: none;
    }
    .home-text {
        max-width: 100%;
        margin: auto;
    }
}

@media (max-width: 1020px) {
    .navbar a {
        margin: 0 15px;
    }
    :root {
        --big-font: 5rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 950px) {
    .share {
        display: none;
    }
    section {
        padding: 70px 4%;
    }
    header {
        padding: 11px 4%;
        background: #2d2d2D;
    }
    .home {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text {
        order: 2;
    }
    .home-img {
        margin: auto;
        max-width: 100%;
    }
    .home-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 850px) {
    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2D;
        transition: all 0.4s ease-in-out;
    }
    .navbar a {
        display: block;
        color: #c3c3c3;
        padding: 0;
        margin: 0 0 40px 0;
        font-size: 2rem;
        font-weight: 400;
    }
    .navbar .open {
        left: 0;
    }
}

@media (max-width: 768px) {
    .logo-icon {
        width: 60px;
        height: 60px;
    }

    .footer {
        font-size: 18px; 
    }

    .text-footer {
        max-width: 80%; 
    }

    .socials i {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    :root {
        --big-font: 4rem;
        --p-font: 15px;
        transition: .2s;
    }
    .btn {
        padding: 9px 28px;
    }
}

@keyframes imgg {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-22px);
    }
    100% {
        transform: translateY(0);
    }
}
